In [9]:
import pandas as pd
import numpy as np

In [10]:
lst=[1,2,3,4,5]

In [12]:
numpy.array(lst)

array([1, 2, 3, 4, 5])

In [18]:
pandas.Series([lst,lst,lst]) # a way of representing the data in a 1-D format

0    [1, 2, 3, 4, 5]
1    [1, 2, 3, 4, 5]
2    [1, 2, 3, 4, 5]
dtype: object

In [17]:
[lst,lst,lst]

[[1, 2, 3, 4, 5], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5]]

In [23]:
# a better way of representing the data in tabular format 2-D format representation of data
df=pandas.DataFrame([lst,lst,lst],columns=['A','B','C','D','E'])

In [24]:
df

   A  B  C  D  E
0  1  2  3  4  5
1  1  2  3  4  5
2  1  2  3  4  5

In [ ]:
pandas.array()