## Pandas Intro

In [7]:
import pandas as pd
import numpy as np

## working with series intro

In [9]:
pd.__version__

'2.1.4'

In [10]:
lst=[1,2,3,4]
lst

[1, 2, 3, 4]

In [11]:
pd.Series(lst) # it is a 1-D datastructure

0    1
1    2
2    3
3    4
dtype: int64

In [12]:
arr = np.array([1,2,3,4,5])
pd.Series(arr)

0    1
1    2
2    3
3    4
4    5
dtype: int32

In [13]:
pd.Series(data=['Retam','Archita','Piyali','Ashish'],index=[1,2,3,4])

1      Retam
2    Archita
3     Piyali
4     Ashish
dtype: object

In [14]:
steps={'day_1':4000,'day_2':12000,'day_3':3000,'day_4':700}
pd.Series(steps)

day_1     4000
day_2    12000
day_3     3000
day_4      700
dtype: int64

In [15]:
pd.Series(5).repeat(3).reset_index(drop=True)

0    5
1    5
2    5
dtype: int64

In [16]:
s = pd.Series([10,20,]).repeat([3,2]).reset_index(drop=True)
s

0    10
1    10
2    10
3    20
4    20
dtype: int64

In [17]:
s[1:-1]

1    10
2    10
3    20
dtype: int64

## aggregrate function in pandas

In [19]:
sr = pd.Series([1,2,3,4,5,6,7,8])
sr.agg(['min','max','sum','mean'])

min      1.0
max      8.0
sum     36.0
mean     4.5
dtype: float64

## series absolute function

In [21]:
sr1 = pd.Series([1,-3,2,-4,5,6,-3],index=[1,2,3,4,5,6,7])
sr1.abs()

1    1
2    3
3    2
4    4
5    5
6    6
7    3
dtype: int64

## appending two series

In [23]:
# using the append function not working 
# it has been removed from the pandas 2.0 version 
# use _append or concat(with pd)

In [24]:
sr,sr1

(0    1
 1    2
 2    3
 3    4
 4    5
 5    6
 6    7
 7    8
 dtype: int64,
 1    1
 2   -3
 3    2
 4   -4
 5    5
 6    6
 7   -3
 dtype: int64)

In [25]:
# with the help of the append function we can do 
pd.concat([sr,sr1]).reset_index(drop=True)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     1
9    -3
10    2
11   -4
12    5
13    6
14   -3
dtype: int64

## astype function of pandas series

In [27]:
sr1

1    1
2   -3
3    2
4   -4
5    5
6    6
7   -3
dtype: int64

In [28]:
type(sr1)

pandas.core.series.Series

In [29]:
type(sr1[1])

numpy.int64

In [30]:
sr1.astype('float')

1    1.0
2   -3.0
3    2.0
4   -4.0
5    5.0
6    6.0
7   -3.0
dtype: float64

## Between function

In [32]:
sr2 = pd.Series([x for x in range(1,11)])

In [33]:
sr2

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [58]:
# checks for values which are between the left and right args
sr2.between(5,7)

0    False
1    False
2    False
3    False
4     True
5     True
6     True
7    False
8    False
9    False
dtype: bool

## the string functions in pandas

In [66]:
str_sr= pd.Series([' Retam',' Machine learning ',' deep learning ','  Arificial Neural Network'])
str_sr

0                         Retam
1             Machine learning
2                deep learning
3      Arificial Neural Network
dtype: object

In [68]:
str_sr.str.upper()

0                         RETAM
1             MACHINE LEARNING
2                DEEP LEARNING
3      ARIFICIAL NEURAL NETWORK
dtype: object

In [72]:
str_sr.str.strip()

0                       Retam
1            Machine learning
2               deep learning
3    Arificial Neural Network
dtype: object

In [80]:
sr = str_sr.str.split()[2]

In [82]:
sr

['deep', 'learning']

In [86]:
str_sr.str.contains('lea')

0    False
1     True
2     True
3    False
dtype: bool